.Display_container {
  flex: 1 1 auto;
  margin: 4rem;
  border: 1px solid lightgray;
  border-radius: 30px !important;
  background-color: ghostwhite;

  .Display_header {
    font-size: 24px;
    color: black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    background-color: ghostwhite;
  }

  .Create_story_button_container {
    padding-top: 40px;
    text-align: center;
    background-color: ghostwhite;

    .Create_story_button {
      min-width: 115px;
    }
  }

  .Stories_container {
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: ghostwhite;

    .Story_card {
      height: 300px;
      width: 300px;
      flex-basis: 300px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid lightgrey;
      margin: 3rem;
      text-align: center;
      color: black;
      background-color: white;

      .Story_name {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-transform: uppercase;
        color: black;
        font-size: 18px;
        overflow: scroll;
        height: 10vh;
      }

      .Story_option_button {
        min-width: 115px;
        margin: 1rem;
      }
    }
  }

  .No_stories_container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: ghostwhite;
    flex-direction: column;

    .No_stories_header {
      text-align: center;
    }

    .Logo_holiday {
      margin: 20px;
      border-radius: 100%;
      border: 10px solid lightgrey;
      height: 250px;
      width: 250px;
    }
  }
}