.Hamburger_icon {
  color: white;
}

.MuiDrawer-paper {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");

  .Logo_menu {
    margin-right: 70px;
    width: 40%;
  }

  .Chevron_icon {
    color: black;
  }

  .Hamburger_list_icon {
    color: black;
    font-size: 60px;
  }

  .Hamburger_list_text {
    span {
      color: black;
      font-size: 24px;
      margin-left: 85px;
    }
  }

  .Hamburger_stories_list {
    text-align: center;
  }
}

@media (max-width: 599px) {
  .Hamburger_icon {
    margin-top: 8px;
  }
}

@media (max-width: 800px) {
  .MuiDrawer-paper {
    width: 500px !important;

    .Logo_menu {
      margin-right: 90px;
      width: 40%;
    }

    .Hamburger_list_text {
      span {
        color: black;
        font-size: 24px;
        margin-left: 135px;
      }
    }
  }
}

@media (max-width: 425px) {
  .MuiDrawer-paper {
    width: 100vw !important;

    .Logo_menu {
      margin-right: 70px;
      width: 40%;
    }

    .Hamburger_list_text {
      span {
        color: black;
        font-size: 24px;
        margin-left: 95px;
      }
    }
  }
}

@media (max-width: 375px) {
  .MuiDrawer-paper {
    width: 100vw !important;

    .Logo_menu {
      margin-right: 50px;
      width: 40%;
    }

    .Hamburger_list_text {
      span {
        color: black;
        font-size: 24px;
        margin-left: 70px;
      }
    }
  }
}

@media (max-width: 320px) {
  .MuiDrawer-paper {
    width: 100vw !important;

    .Logo_menu {
      margin-right: 40px;
      width: 40%;
    }

    .Hamburger_list_text {
      span {
        color: black;
        font-size: 24px;
        margin-left: 45px;
      }
    }
  }
}