.Page_container {
  background-color: ghostwhite;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

  .Landing_container {
    padding-top: 64px;

    .Loading {
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .Button_container {
      display: flex;

      .Register_box {
        text-align: right;
        padding: 30px;
      }

      .Login_box {
        text-align: left;
        padding: 30px;
      }

      .Landing_button {
        min-width: 115px;
      }
    }
  }
}

@media (max-width: 425px) {
  .Register_box {
    padding: 10px !important;
  }

  .Login_box {
    padding: 10px !important;
  }
}